<div class="menuOpciones">
    <div class="row">

        <div class="col-1">

        </div>
        <div class="col-10">
            <ul>

                <li><a href="" class="buttonNav2">Inicio</a></li>
                <li><a href="" class="buttonNav2">Experiencia</a></li>
                <li><a href="" class="buttonNav2">Conocimiento</a></li>
                <li><a href="" class="buttonNav2">Curriculum</a></li>
                <li><a href="" class="buttonNav2">Contacto</a></li>

            </ul>
        </div>
    </div>
</div>