<div class="row tarjeta" style="margin-left: 30px;">

    <div class="col-11">
        <h4>Contacto</h4>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae voluptates rerum
            perspiciatis et porro, itaque nam corrupti doloremque consectetur totam nulla nobis dicta
            optio quas, commodi reiciendis facere aperiam laborum!
        </p>
    </div>
    <div class="col-1">
        <a class="botonEditar" style="float: right;"><img src="https://cdn-icons-png.flaticon.com/512/84/84380.png"
                height="25" width="25"></a>
    </div>

</div>
