<nav>
  <ul class="navUl">
    <li class="liSesion">

        <button (click)="navIniciaSesion()" routerLink="/Contacto" aria-current="page" class="btn btn-primary buttonSesion"
          type="button">Iniciar Sesion</button>

    </li>


    <li class="navLi"><a href="#" class="buttonNavRedes"><img src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" height="30"
          width="30"></a>
    </li>
    <li class="navLi"><a href="https://www.linkedin.com/in/martin-gagliardi-8180bb211/"
        class="buttonNavRedes"><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="30" width="30"></a></li>
    <li class="navLi"><a href="https://github.com/Martin011001" class="buttonNavRedes"><img
          src="https://cdn-icons-png.flaticon.com/512/3291/3291667.png" height="35" width="35"></a></li>
  </ul>
</nav>